h2,
h4 {
margin-left: 25px;
color: #af00ff;
margin-top: 10px;
}

h5{
font-weight: bolder;
text-align: center;
margin-top : 2%;
}

h6 {
font-weight: bolder;
margin-top: 8px;
}

#logo {
width: 250px;
height: 70px;
float: right;
margin-right: 25px;
}

#user_information_div {
margin-top: 10px;
font-size: 14px;
line-height: 5px;
margin-left: 25px;
}

#right_div {
text-align: right;
font-size: 16px;
line-height: 5px;
margin-right: 50px;
}

#date {
width:28%;
margin-top: 10px;
margin-left: 76%;
}

#upper_table{
    width: 94%;
    margin:auto;
    margin-top: 1%;
padding : 0px;
background-color : #F3D325;
}

.upper_table_row{
padding-right: 5px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
font-weight: bolder; 
border : 1px red dashed;
width : 25%;
}

.upper_table_row:nth-child(3) {
text-align: center;
font-size: 20px;
}

#header{
margin-top: 2%;
margin-bottom: 1%;
}

#list_div {
    width: 96%;
    margin: auto;
    margin-top:1%;
    border : 1px #af00ff solid;
}

#list_div  ul {
    margin-left: 1%;
    margin-top: 1%;
}

#list_div ul li {
    font-size: 14px;
}
#exclamation_row_div{
    width: 96%;
    height: 80px;
    margin: auto;
    margin-top: 1%;
    border : 1px #af00ff solid;
}
#exclamation_col_div{
    float: left;
    margin: auto;
    margin-top: 0.5%;
    margin-left: 1%;
    width: 25px;
    height: 60px;
}
#exclamation{
    width :20px;
    height : 60px;
    margin-left: 1%;
}

#exclamation_text{
    font-size : 14px;
    text-align: left;
    margin-top : 2%;
    margin-left: 3%;
    margin-left: 15%;
    width: 70%;
    height: 60px;
    float: left;

}

#exclamation_qrcode{
    float: right;
    margin-right: 1%;
    
}

#qrcode{
    width : 70px; 
    height : 70px;
}

#information_table{
    width : 96%;
    margin: auto;
}
#information_table .col{
    border: 1px black solid;
    text-align: center;
    font-size: 14px;
}

#information_table .col p{
    margin-top: 1%;
    margin-bottom: 1%;
}

#bank_table_div{
    width : 96%;
    margin: auto;
    border: 1px black solid;
}
#left_bank_table{
    margin-left: 2%;
    width: 70%;
    float: left;
    font-size: 14px;
}
#left_bank_table td{
    width: 90%;
}
#right_bank_table{
    float: left;
    width : 70%;    
    margin-left: 8%;
    font-size: 14px;
}
#right_bank_table td{
    width: 90%;
}
#notes{
    width: 65%;
    height: 100px;
    border: 1px black dashed;
    margin-left: 4.5%;
    margin-top: 1%;
    font-size: 14px;
}
#notes h6{
    margin-top: -10px;
}

#signature{
    width: 24%;
    height: 100px;
    border: 1px black dashed;
    float: right;
    margin-left: 2%;
    margin-top: 1%;
}

#signature h6{
    margin-top: 2px;
}

#last_table{
    width : 96%;
    margin: auto;
    margin-top: 2%;
}

#last_table table{
    text-align:center;
    border : 1px black solid;
}

#last_table td{
    border: 1px black solid;
}

#down_line {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.row_text{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.down_row_text{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
#bold{
    font-weight: bold;
}

#last_text{
    text-align: center;
    color :red;
    margin-top: 3%;
    font-size: 12px;
}